In [1]:
#import statements
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as ms
%matplotlib inline

In [2]:
train_data = pd.read_csv('./Dataset/train.csv')

In [3]:
train_data.head()

,Observation,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Energy
0,1111,22.700000,37.200,21.000000,38.000000,23.390000,37.290000,22.832857,34.942857,20.500000,...,45.360000,20.20,38.663333,12.80,760.050000,62.000000,3.5,28.0,5.65,70
1,1112,21.500000,41.045,20.500000,39.133333,22.926667,39.526667,21.700000,34.126667,18.633333,...,34.663333,19.73,37.933333,8.47,764.166667,48.166667,8.0,26.5,-1.92,210
2,1113,21.666667,38.000,22.600000,35.700000,21.890000,36.590000,22.000000,35.530000,19.000000,...,38.545000,19.79,39.430000,10.60,757.600000,57.000000,2.0,27.0,2.40,50
3,1114,23.290000,38.530,21.671429,38.000000,24.290000,36.200000,23.100000,35.090000,22.042857,...,38.600000,22.60,36.194286,11.60,760.600000,63.000000,1.0,40.0,4.67,50
4,1115,24.000000,42.560,26.830000,34.356000,26.530000,40.333333,24.500000,40.900000,21.500000,...,44.230000,22.60,44.090000,17.70,756.983333,63.000000,1.0,21.5,10.40,250

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15780 entries, 0 to 15779
Data columns (total 26 columns):
Observation    15780 non-null int64
T1             15780 non-null float64
RH_1           15780 non-null float64
T2             15780 non-null float64
RH_2           15780 non-null float64
T3             15780 non-null float64
RH_3           15780 non-null float64
T4             15780 non-null float64
RH_4           15780 non-null float64
T5             15780 non-null float64
RH_5           15780 non-null float64
T6             15780 non-null float64
RH_6           15780 non-null float64
T7             15780 non-null float64
RH_7           15780 non-null float64
T8             15780 non-null float64
RH_8           15780 non-null float64
T9             15780 non-null float64
RH_9           15780 non-null float64
T_out          15780 non-null float64
Press_mm_hg    15780 non-null float64
RH_out         15780 non-null float64
Windspeed      15780 non-null float64
Visibility     15780 non-null float64
Tdewpoint      15780 non-null float64
Energy         15780 non-null int64
dtypes: float64(24), int64(2)
memory usage: 3.1 MB

In [5]:
def drop_features(features, data):
    data.drop(features,axis=1,inplace=True)

In [6]:
drop_features(['Observation'],train_data)

In [16]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=275,max_features='log2')
model.fit(train_data.drop('Energy',axis=1),train_data['Energy'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='log2', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=275, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [8]:
test_data = pd.read_csv('./Dataset/test.csv')

In [9]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3945 entries, 0 to 3944
Data columns (total 25 columns):
Observation    3945 non-null int64
T1             3945 non-null float64
RH_1           3945 non-null float64
T2             3945 non-null float64
RH_2           3945 non-null float64
T3             3945 non-null float64
RH_3           3945 non-null float64
T4             3945 non-null float64
RH_4           3945 non-null float64
T5             3945 non-null float64
RH_5           3945 non-null float64
T6             3945 non-null float64
RH_6           3945 non-null float64
T7             3945 non-null float64
RH_7           3945 non-null float64
T8             3945 non-null float64
RH_8           3945 non-null float64
T9             3945 non-null float64
RH_9           3945 non-null float64
T_out          3945 non-null float64
Press_mm_hg    3945 non-null float64
RH_out         3945 non-null float64
Windspeed      3945 non-null float64
Visibility     3945 non-null float64
Tdewpoint      3945 non-null float64
dtypes: float64(24), int64(1)
memory usage: 770.6 KB

In [17]:
predictions = model.predict(test_data.drop('Observation',axis=1))

In [18]:
final_result = pd.DataFrame({'Observation' : test_data['Observation'],'Energy': predictions})
filename = 'output.csv'
final_result.to_csv(filename,index=False,columns=['Observation','Energy'])

In [12]:
from sklearn.model_selection import GridSearchCV
param = {
                     'n_estimators': [200,250,300],
                     'max_features': ['sqrt', 'auto', 'log2']           
        }
model = GridSearchCV(RandomForestRegressor(),param,verbose=True,n_jobs=-1)
model.fit(train_data.drop('Energy',axis=1),train_data['Energy'])

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=-1)]: Done  27 out of  27 | elapsed:  8.6min finished

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [200, 250, 300], 'max_features': ['sqrt', 'auto', 'log2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=True)

In [13]:
predicitons = model.predict(test_data.drop('Observation',axis=1))

In [15]:
model.best_params_

{'max_features': 'log2', 'n_estimators': 200}

In [14]:
final_result = pd.DataFrame({'Observation' : test_data['Observation'],'Energy': predictions})
filename = 'output.csv'
final_result.to_csv(filename,index=False,columns=['Observation','Energy'])